In [1]:
from pymongo import MongoClient

In [2]:
import pandas as pd
import time

In [3]:
import numpy as np

In [4]:
data = pd.read_csv("0000000000002747_training_twitter_x_y_train.csv")

In [5]:
start = time.time()
x = data[0:30]
end = time.time()
print(end-start)

0.0010426044464111328

In [6]:
x.head()

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [7]:
x.isnull().sum()

tweet_id                   0
airline_sentiment          0
airline                    0
airline_sentiment_gold    30
name                       0
negativereason_gold       30
retweet_count              0
text                       0
tweet_coord               28
tweet_created              0
tweet_location            12
user_timezone              8
dtype: int64

In [9]:
x_new = x.fillna(0)

In [10]:
client = MongoClient()
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [11]:
db = client.NewFile

In [12]:
Twitter = db.NewFile

In [13]:
arr = []
for i in range(len(x)):
    dic = {}
    for j in x_new:
        if x_new[j][i] != 0:
            dic[j] = x_new[j][i]
    arr.append(dic)
arr[0:9]

[{'tweet_id': 567900433542488064,
  'airline_sentiment': 'negative',
  'airline': 'Southwest',
  'name': 'ColeyGirouard',
  'text': '@SouthwestAir I am scheduled for the morning, 2 days after the fact, yes..not sure why my evening flight was the only one Cancelled Flightled',
  'tweet_created': '2015-02-17 20:16:29 -0800',
  'tweet_location': 'Washington D.C.',
  'user_timezone': 'Atlantic Time (Canada)'},
 {'tweet_id': 569989168903819264,
  'airline_sentiment': 'positive',
  'airline': 'Southwest',
  'name': 'WalterFaddoul',
  'text': '@SouthwestAir seeing your workers time in and time out going above and beyond is why I love flying with you guys. Thank you!',
  'tweet_created': '2015-02-23 14:36:22 -0800',
  'tweet_location': 'Indianapolis, Indiana; USA',
  'user_timezone': 'Central Time (US & Canada)'},
 {'tweet_id': 568089179520954368,
  'airline_sentiment': 'positive',
  'airline': 'United',
  'name': 'LocalKyle',
  'text': '@united Flew ORD to Miami and back and  had great crew, service on both legs. THANKS',
  'tweet_created': '2015-02-18 08:46:29 -0800',
  'tweet_location': 'Illinois',
  'user_timezone': 'Central Time (US & Canada)'},
 {'tweet_id': 568928195581513728,
  'airline_sentiment': 'negative',
  'airline': 'Southwest',
  'name': 'amccarthy19',
  'text': "@SouthwestAir @dultch97 that's horse radish üò§üê¥",
  'tweet_created': '2015-02-20 16:20:26 -0800',
  'user_timezone': 'Atlantic Time (Canada)'},
 {'tweet_id': 568594180014014464,
  'airline_sentiment': 'negative',
  'airline': 'United',
  'name': 'J_Okayy',
  'text': '@united so our flight into ORD was delayed because of Air Force One, but the last flight to SBN is at 8:20, 5 mins from now we just landed.',
  'tweet_created': '2015-02-19 18:13:11 -0800',
  'user_timezone': 'Eastern Time (US & Canada)'},
 {'tweet_id': 569677636613439488,
  'airline_sentiment': 'negative',
  'airline': 'United',
  'name': 'bobgiolito',
  'text': '@united Why did you load us in this flying sardine can if you knew the pilots were 2 hours Late Flight?? #incompetent beyond belief',
  'tweet_created': '2015-02-22 17:58:27 -0800',
  'tweet_location': 'Los Angeles, CA',
  'user_timezone': 'Pacific Time (US & Canada)'},
 {'tweet_id': 569658903044218880,
  'airline_sentiment': 'negative',
  'airline': 'Delta',
  'name': 'aaronkinnari',
  'text': "@JetBlue that is a stock response. Delays not as frustrating as poor cust serv &amp; being told by 3 ppl to wait &amp; they'd come back but did not.",
  'tweet_created': '2015-02-22 16:44:00 -0800',
  'tweet_location': 'Gotham',
  'user_timezone': 'Quito'},
 {'tweet_id': 568542766860541952,
  'airline_sentiment': 'positive',
  'airline': 'Delta',
  'name': 'TimothySays',
  'text': "@JetBlue That'd be nice! Hoping to rack up enough miles to take a trip to Seattle and enjoy a perfect latte in the city of coffee.",
  'tweet_created': '2015-02-19 14:48:53 -0800',
  'tweet_location': 'Burlington, MA',
  'user_timezone': 'Eastern Time (US & Canada)'},
 {'tweet_id': 570116209263427584,
  'airline_sentiment': 'negative',
  'airline': 'United',
  'name': 'lindaSWC',
  'retweet_count': 1,
  'text': '@united frankly worse customer service ever. Problems will happen, how you deal defines a company. Never again United.',
  'tweet_created': '2015-02-23 23:01:11 -0800'}]

In [14]:
type(arr[0]['tweet_id'])

numpy.int64

In [15]:
for i in range(len(arr)):
    for j in arr[i]:
        if type(arr[i][j]) == np.int64:
            arr[i][j] = int(arr[i][j])
    
type(arr[0]['tweet_id'])

int

In [17]:
result = Twitter.insert_many(arr)

In [22]:
i = 1
for object_id in result.inserted_ids:
    print("Id of",i," object  :  ", object_id)
    i += 1

Id of 1  object  :   5da74a1491b8b670ea122a56
Id of 2  object  :   5da74a1491b8b670ea122a57
Id of 3  object  :   5da74a1491b8b670ea122a58
Id of 4  object  :   5da74a1491b8b670ea122a59
Id of 5  object  :   5da74a1491b8b670ea122a5a
Id of 6  object  :   5da74a1491b8b670ea122a5b
Id of 7  object  :   5da74a1491b8b670ea122a5c
Id of 8  object  :   5da74a1491b8b670ea122a5d
Id of 9  object  :   5da74a1491b8b670ea122a5e
Id of 10  object  :   5da74a1491b8b670ea122a5f
Id of 11  object  :   5da74a1491b8b670ea122a60
Id of 12  object  :   5da74a1491b8b670ea122a61
Id of 13  object  :   5da74a1491b8b670ea122a62
Id of 14  object  :   5da74a1491b8b670ea122a63
Id of 15  object  :   5da74a1491b8b670ea122a64
Id of 16  object  :   5da74a1491b8b670ea122a65
Id of 17  object  :   5da74a1491b8b670ea122a66
Id of 18  object  :   5da74a1491b8b670ea122a67
Id of 19  object  :   5da74a1491b8b670ea122a68
Id of 20  object  :   5da74a1491b8b670ea122a69
Id of 21  object  :   5da74a1491b8b670ea122a6a
Id of 22  object  :   5da74a1491b8b670ea122a6b
Id of 23  object  :   5da74a1491b8b670ea122a6c
Id of 24  object  :   5da74a1491b8b670ea122a6d
Id of 25  object  :   5da74a1491b8b670ea122a6e
Id of 26  object  :   5da74a1491b8b670ea122a6f
Id of 27  object  :   5da74a1491b8b670ea122a70
Id of 28  object  :   5da74a1491b8b670ea122a71
Id of 29  object  :   5da74a1491b8b670ea122a72
Id of 30  object  :   5da74a1491b8b670ea122a73